<span title="P24">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    viewBox="0 0 1366 768"
    xml:space="preserve"
  >
    <g transform="matrix(7.5271 0 0 7.24 -4467.715 -2406.117)">
      <path
        fill="var(--color-primary-foreground)"
        d="M643 391h-8.8l.6-3.4 13.7-.1-.5 3.2-11.5 10.9h9.6l-.5 3.4h-14.2l.6-3.5z"
      />
      <path
        d="M619.8 382.2c-.3-.3-.7-.6-1.2-.8-.5-.2-1.1-.3-1.6-.4-.7-.1-1.3-.2-1.8-.2H604l-4 24.1h3.7l1.5-8.9h7.2s2.8.1 4.8-.9c2-1.1 2.5-3.5 2.5-3.5s.2-.9.4-2c.2-1.2.4-2.6.5-3.4 0-.3.1-.5.1-.5s.1-.2.1-.6c0-.5-.1-1.3-.5-2.1-.1-.3-.3-.5-.5-.8zm-2.9 4.3s-.3 2-.8 4.3c-.2.9-.8 1.3-1.6 1.5-1.3.3-2.7.2-2.7.2h-6l1.3-8h6.4c.6 0 1.4 0 2 .1.6.1 1 .2 1.1.4.2.2.3.5.3.8v.7z"
        fill="var(--color-primary-foreground)"
      />
      <path
        fill="var(--color-primary-foreground)"
        d="M667.1 380.8h3.5l-4 24.2H663z"
      />
      <path
        fill="var(--color-primary-foreground)"
        d="M703 404.9h-4.3l-1.2-12.1-5.3 12.1-4.2.1-1.8-17.4 3.5-.1 1.2 12.3 5.3-12.3h4.2l1.3 12.3 5.3-12.3h3.6z"
      />
      <g>
        <path
          d="M660.4 387.7c-1-.3-2.8-.4-4.2-.4-1.4 0-2.1.1-2.6.2 0 0-2.5.4-4 2.2-1.5 1.8-1.9 5.7-1.9 5.7s-.9 4.3-.6 5.8c.3 1.4.7 2.8 2.3 3.4 1.6.6 3 .6 3 .6s2.9.2 5.1-.3c2.2-.5 3.3-2.1 3.3-2.1s.5-.7.9-1.5.5-1.3.5-1.4l.2-.9h-3.7s-.2 2.5-2.2 2.7c-2 .2-3.1.1-3.5.1-.4 0-2.5.1-2.4-1.7v-.1c.1-2.1.3-2.6.3-2.6h11.7l.5-2.9c.7-3.3.3-5.8-2.7-6.8zm-.8 6.3h-8l.3-1.3s.3-1 .8-1.4c.6-.4 1.3-.5 1.9-.6.7-.1 2.4-.2 3.9.1.5.1.9.4 1.1.8.3 1 0 2.4 0 2.4z"
          fill="var(--color-primary-foreground)"
        />
        <path
          d="M650.7 400s0 .1 0 0c0 .2 0 0 0 0z"
          fill="var(--color-primary-foreground)"
        />
      </g>
      <g>
        <path
          d="M672.8 400s0 .1 0 0c0 .2 0 0 0 0z"
          fill="var(--color-primary-foreground)"
        />
        <path
          d="M682.5 387.7c-1-.3-2.8-.4-4.2-.4-1.4 0-2.1.1-2.6.2 0 0-2.5.4-4 2.2-1.5 1.8-1.9 5.7-1.9 5.7s-.9 4.3-.6 5.8c.3 1.4.7 2.8 2.3 3.4 1.6.6 3 .6 3 .6s2.9.2 5.1-.3c2.2-.5 3.3-2.1 3.3-2.1s.5-.7.9-1.5.5-1.3.5-1.4l.2-.9h-3.7s-.2 2.5-2.2 2.7c-2 .2-3.1.1-3.5.1-.4 0-2.5.1-2.4-1.7v-.1c.1-2.1.3-2.6.3-2.6h11.7l.5-2.9c.7-3.3.3-5.8-2.7-6.8zm-.8 6.3h-8l.3-1.3s.3-1 .8-1.4c.6-.4 1.3-.5 1.9-.6.7-.1 2.4-.2 3.9.1.5.1.9.4 1.1.8.3 1 0 2.4 0 2.4z"
          fill="var(--color-primary-foreground)"
        />
      </g>
      <path
        d="M714.7 387.6l2.3 12.7 6.5-12.7h3.7l-9.4 18.2s-1.7 3.3-2.8 4.1c-1.1.8-1.7 1.2-2.6 1.3-.9.1-1.2.1-2 0l-.9-.2.5-3.3s1.5.3 2.3-.1c.9-.3 1.6-1.8 1.6-1.8l.4-.7-3.4-17.6 3.8.1z"
        fill="var(--color-primary-foreground)"
      />
      <path
        d="M728.5 389.3h3.8l.2-1.5s.4-2.6 1.3-3.2c.3-.2.8-.3 1.3-.4 1-.2 2.2-.2 3.3-.2 1.6.1 2.2.1 3.8.3 1.6.2 1.2 1.7 1.2 1.7l-.3 2.3s-.1 1-.5 1.7c-.3.6-1.2 1-1.7 1.1-1.2.4-5.5 1.5-5.5 1.5l-3.3 1s-2.1.6-3.2 1.9c-1.2 1.3-1.6 2.7-1.8 3.5-.2.8-1 6-1 6h18.1l.6-3.6h-14.3l.3-1.5s.2-1.5.8-2c.2-.2.3-.4 1.4-.8.7-.2 3-.9 3-.9l5.4-1.5s2.9-.8 4.1-2.4c1.2-1.6 1.6-4.7 1.6-4.7s.3-3 .1-3.9c-.2-.9-1.1-2.1-2.2-2.5-1.1-.5-2.2-.8-5.5-.7-3.3.1-4.9.2-6.5.8-1.6.6-2.6 1.7-3.2 3.3-.9 1.5-1.3 4.7-1.3 4.7z"
        fill="var(--color-primary-foreground)"
      />
      <path
        d="M762.6 396l2.5-15.2h-4.5l-14 15-.6 3.8h12.2l-.9 5.3h3.8l.9-5.3h3.5l.6-3.6h-3.5zm-3.8 0h-7.9l9.6-10.2-1.7 10.2z"
        fill="var(--color-primary-foreground)"
      />
      <path
        d="M627.7 382.8h11.5s2.6-2.1 4.4-3.4c1.8-1.3 5.2-3.5 5.2-3.5l-6.5-3s-5.5 3.4-7.8 5c-2.3 1.5-6.8 4.9-6.8 4.9z"
        fill="var(--color-primary-foreground)"
      />
      <path
        d="M652.4 373.8l-5.3-3.6s4.8-2.7 11.3-5.3c6.4-2.6 9.8-3.6 9.8-3.6l1.1 5.1s-6.2 2.1-9.7 3.7c-3.7 1.6-7.2 3.7-7.2 3.7z"
        fill="var(--color-primary-foreground)"
      />
      <path
        d="M673.2 365.2l-.9-5.2s6.6-1.8 12.6-2.9c6-1.1 14-1.7 14-1.7l-2.6 8.1s-7-1-13.6-.1c-5.2.7-9.5 1.8-9.5 1.8z"
        fill="var(--color-primary-foreground)"
      />
      <path
        d="M700.5 364.2l4.5-8.9s9.8-.2 18.2 1.1c8.4 1.3 16.1 3.3 15.9 3.4L717.8 371s-5-3.2-11.2-5.1c-3.6-1.1-6.1-1.7-6.1-1.7z"
        fill="var(--color-primary-foreground)"
      />
      <path
        d="M721.5 373.4l4.7 3.6h38.5s-.1-1.2-1.1-3c-.6-1.1-1.8-2.3-3-3.5-.4-.4-2.2-1.8-3.5-2.7-3.4-2.2-5.3-3.1-8.8-4.7l-26.8 10.3z"
        fill="var(--color-primary-foreground)"
      />
      <path
        d="M630.2 387.5c-1.4 0-2.8.6-4 1.2l.2-1.2h-3.8l-3.1 17.3h3.8l1.7-9.6c.4-1.9 1.8-4.4 4.6-4.4h2l.6-3.4h-2z"
        fill="var(--color-primary-foreground)"
      />
    </g>
  </svg>
</span>
