.cleanstate {
  text-align: center;

  padding: 80px 0;
}

.cleanstate__title {
  font-size: 24px;
  line-height: 32px;

  font-weight: var(--font-weight-semibold);

  color: var(--color-primary-foreground);

  margin-bottom: 8px;
}

.cleanstate__description {
  font-size: 16px;
  line-height: 24px;

  font-weight: var(--font-weight-regular);

  color: var(--color-primary-foreground);

  margin-bottom: 32px;

  word-break: break-all;
}

@media (min-width: 576px) {
  .cleanstate {
    padding: 80px 0 120px;
  }
}
