.form {
  max-width: calc(var(--max-width) + var(--horizontal-padding) * 2 + 10px);
  width: 100%;

  margin: 0 auto;
  padding: 16px var(--horizontal-padding);

  display: flex;
  justify-content: center;
  align-items: center;
}

.form__inner {
  max-width: 725px;
  width: 100%;
}

.form form {
  display: grid;
  grid-template-columns: 1fr;
}

.form__title {
  font-size: 20px;
  line-height: 28px;

  font-weight: var(--font-weight-semibold);

  color: var(--color-primary-foreground);

  margin-bottom: 12px;
}

.form__label {
  display: block;

  font-size: 16px;
  line-height: 24px;

  font-weight: var(--font-weight-semibold);

  color: var(--color-primary-foreground);

  margin-bottom: 4px;
}

.form__field, .form__textarea {
  display: block;

  width: 100%;

  font-size: 16px;
  line-height: 24px;

  color: var(--color-primary-foreground);

  padding: 12px 16px;

  border: 1px solid var(--color-border);

  border-radius: var(--border-radius-sm);

  margin-bottom: 12px;
}

.form__field::placeholder, .form__textarea::placeholder {
  font-size: 16px;
  line-height: 24px;

  color: var(--color-placeholder);
}

.form__field:focus {
  border-color: var(--color-accent-foreground);
}

.form__field.error {
  border-color: var(--color-red);
}

.form__field.error::placeholder {
  color: var(--color-red);
}

.form__textarea {
  margin-bottom: 16px;

  resize: vertical;
}

.form__error-message {
  font-size: 16px;
  line-height: 20px;

  color: var(--color-red);

  margin-bottom: 12px;
}

.form__error-message:empty {
  display: none;
}

@media (min-width: 810px) {
  .form form {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }

  .form__message, .form__submit, .form__error {
    grid-column: span 2;
  }
}
