.post {
  width: 100%;

  margin: 16px auto;
}

.post__image {
  display: block;

  width: 100%;
  height: auto;
}

.post__image--border-radius {
  border-radius: var(--border-radius-sm);
}

.post__title {
  font-size: 24px;
  line-height: 32px;

  font-weight: var(--font-weight-semibold);

  color: var(--color-primary-foreground);

  margin-bottom: 8px;
}

.post__text {
  font-size: 16px;
  line-height: 24px;

  color: var(--color-primary-foreground);

  margin-bottom: 16px;
}
