.cleanstate {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 75px 0;
}

.cleanstate__text {
  font-size: 36px;
  line-height: 44px;

  font-weight: var(--font-weight-semibold);

  text-align: center;

  color: var(--color-typo);
}
