.cleanstate {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 75px 0;
}

.cleanstate__text {
  font-size: 36px;
  line-height: 44px;

  font-weight: 600;

  text-align: center;

  color: #0c2747;
}
