.collections {
  max-width: calc(var(--max-width) + var(--horizontal-padding) * 2);
  width: 100%;

  margin: 16px auto;
  padding: 0 var(--horizontal-padding);
}

.collections__title {
  font-size: 36px;
  line-height: 44px;

  font-weight: 600;

  color: #0c2747;

  margin-bottom: 16px;
}

.collections__show-more {
  display: inline-block;

  font-size: 16px;
  line-height: 24px;

  font-weight: 600;

  color: #395db8;

  text-decoration: none;

  margin-bottom: 24px;
}

.collections__show-more i {
  font-size: 14px;

  margin-left: 4px;
}

.collections__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.collections__list a {
  text-decoration: none;
}

.collection {
  display: flex;
  align-items: flex-end;

  overflow: hidden;

  height: 400px;

  border-radius: 8px;

  background-color: #d8dce0;
}

.collection__name {
  font-size: 20px;
  line-height: 28px;

  font-weight: 600;

  width: 100%;

  margin: 0;
  padding: 24px 0 16px;

  color: #ffffff;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );

  text-align: center;
}

@media (max-width: 1000px) {
  .collections__title {
    margin-bottom: 8px;
  }

  .collections__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .collection {
    height: 305px;
  }
}

@media (max-width: 576px) {
  .collections__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .collection {
    height: 200px;
  }
}
