.collection {
  max-width: calc(var(--max-width) + var(--horizontal-padding) * 2 + 10px);
  width: 100%;

  margin: 16px auto;
  padding: 0 var(--horizontal-padding);
}

.collection__title {
  font-size: 36px;
  line-height: 44px;

  margin-bottom: 24px;

  font-weight: var(--font-weight-semibold);

  color: var(--color-typo);
}

.collection__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(168px, 280px));
  gap: 18px;
}

@media (min-width: 576px) {
  .collection__items {
    gap: 24px;
  }
}

@media (min-width: 810px) {
  .collection__items {
    gap: 32px;
  }
}
