.collection-products {
  max-width: calc(var(--max-width) + var(--horizontal-padding) * 2 + 10px);
  width: 100%;

  margin: 16px auto;
}

.collection-products__title {
  font-size: 36px;
  line-height: 44px;

  font-weight: var(--font-weight-semibold);

  color: var(--color-typo);

  margin-bottom: 24px;
  padding: 0 var(--horizontal-padding);
}

@media (min-width: 820px) {
  .collection-products {
    padding: 0 var(--horizontal-padding);
  }

  .collection-products__title {
    padding: 0;
  }
}
