.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: #ffffff;
}

.header--left,
.header--right {
  display: flex;
  align-items: center;
}

.header--left {
  flex: 1;
}

.header--right {
  justify-content: flex-end;
}

.header--right > *:not(:last-child) {
  margin-right: 16px;
}

.header__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  max-width: 1232px;
  width: 100%;

  margin: 0 auto;
  padding: 12px 16px;

  background-color: #ffffff;
}

.header__link {
  text-decoration: none;

  color: #0c2747;
}

.header__text-logo {
  font-size: 24px;
  line-height: 32px;

  font-weight: 600;

  margin: 0;
  margin-right: 40px;
}

.header__nav .list-menu--horizontal {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.header__nav .list-menu--horizontal .list-menu__item:not(:last-child) {
  margin-right: 32px;
}

.header-search #floating-search {
  display: none;
}

.header-search__trigger {
  display: none;
}

.header-search__input-wrapper {
  position: relative;
}

.header-search__input-wrapper .header-search__icon {
  position: absolute;

  top: 50%;
  bottom: 50%;
  left: 16px;

  transform: translateY(-50%);

  z-index: 1;
}

.header-search__input {
  padding: 8px 12px 8px 44px;

  border: 1px solid #d8dce0;
  border-radius: 20px;

  font-size: 16px;
  line-height: 24px;

  color: #0c2747;

  width: 100%;
}

.header-search__input:focus {
  outline: none;

  border-color: #395DB8;
}

.header-search__input::placeholder {
  color: #687687;
}

.header-search__icon {
  width: 20px;
  height: 20px;
}

.header-search__wrapper .header-search__icon.close {
  display: none;
}

.header-floating-menu {
  display: none;
}

.header-floating-menu #floating-menu-trigger {
  display: none;
}

.header-floating-menu__icon {
  width: 20px;
  height: 20px;
}

.header-floating-menu__wrapper {
  display: none;
}

@media (max-width: 810px) {
  .header__nav {
    display: none;
  }

  .header--right > *:not(:last-child) {
    margin-right: 8px;
  }

  .header-search__trigger {
    display: block;
  }

  .header-search__wrapper {
    display: flex;
    align-items: center;

    padding: 8px 16px;

    height: 100%;

    position: absolute;

    top: 0;
    left: 0;
    right: 0;

    background-color: #ffffff;

    opacity: 0;
    transform: scale(0.92);
    visibility: hidden;
    transition: visibility 0s linear 300ms, opacity 300ms linear 50ms, transform 250ms;
  }

  .header-search__wrapper form {
    width: 100%;

    display: flex;
    align-items: center;
  }

  .header-search__wrapper .header-search__input-wrapper {
    width: 100%;
  }

  .header-search__wrapper .header-search__icon.close {
    display: block;

    margin-left: 8px;
  }

  .header-search #floating-search:checked ~ .header-search__wrapper {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 300ms, transform 250ms;
  }

  .header-floating-menu {
    display: block;
  }
}
