.image-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;

  overflow: hidden;

  position: relative;

  max-width: 1200px;

  border-radius: 8px;

  margin: 20px auto;
  padding: 32px;
}

.image-text__title {
  font-size: 24px;
  line-height: 32px;

  font-weight: 600;

  margin: 6px 0;
}

.image-text__text {
  font-size: 18px;
  line-height: 28px;

  margin: 12px 0;

  max-width: 50%;
}

.image-text__overlay {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.image-text__content {
  position: relative;

  z-index: 1;
}

.bq-button {
  margin: 12px 0;
}

@media (max-width: 576px) {
  .image-text__text {
    max-width: 100%;
  }
}

@media (max-width: 1232px) {
  .image-text {
    margin: 20px 16px;
  }
}
