.products {
  max-width: calc(var(--max-width) + var(--horizontal-padding) * 2 + 10px);
  width: 100%;

  margin: 16px auto;
}

.products__title {
  font-size: 36px;
  line-height: 44px;

  font-weight: var(--font-weight-semibold);

  color: var(--color-typo);

  margin-bottom: 24px;
}

.products .product {
  min-width: 196px;
  max-width: 196px;
}

.products .product a {
  text-decoration: none;
}

.products .product a:hover {
  text-decoration: underline;
}

.products .product__image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 240px;

  margin-bottom: 16px;
}

.products .product__image {
  display: block;

  max-width: 100%;
  max-height: 100%;

  margin: 0 auto;
}

.products .product__name {
  font-size: 20px;
  line-height: 28px;

  font-weight: var(--font-weight-semibold);

  margin-bottom: 8px;

  color: var(--color-typo);
}

.products .product__duration {
  font-size: 16px;
  line-height: 24px;

  color: var(--color-dark-grey);

  margin: 0;
}

.products .product__price {
  font-size: 16px;
  line-height: 24px;

  font-weight: var(--font-weight-bold);

  color: var(--color-typo);

  margin: 0;
}

/* @media (max-width: 1200px) {
  .products {
    padding: 0;
  }

  .products__title {
    padding: 0 var(--horizontal-padding);
  }

  .products .carousel__inner {
    padding: 0 var(--horizontal-padding);
  }
} */

@media (min-width: 820px) {
  .products {
    padding: 0 var(--horizontal-padding);
  }

  .products .product {
    min-width: 280px;
    max-width: 280px;
  }
}
