.product {
  min-width: 196px;
  max-width: 196px;
}

.product a {
  text-decoration: none;
}

.product a:hover {
  text-decoration: underline;
}

.product .product__image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 240px;

  border-radius: 12px;

  margin-bottom: 8px;
}

.product .product__image-container:empty {
  background-color: var(--color-grey);
}

.product .product__image {
  display: block;

  max-width: 100%;
  max-height: 100%;

  margin: 0 auto;
}

.product .product__name {
  font-size: 20px;
  line-height: 28px;

  font-weight: var(--font-weight-semibold);

  margin-bottom: 4px;

  color: var(--color-typo);
}

.product bq-product-availability {
  display: block;

  font-size: 14px;
  line-height: 20px;

  font-weight: var(--font-weight-bold);

  margin-bottom: 8px;

  color: var(--color-white);
}

.product bq-product-availability::part(availability-container) {
  padding: 2px 12px;

  border-radius: 12px;
}

.product bq-product-availability::part(available) {
  background-color: var(--color-green);
}

.product bq-product-availability::part(unavailable) {
  background-color: var(--color-red);
}

.product bq-product-price-label {
  display: block;

  font-size: 16px;
  line-height: 24px;

  color: var(--color-dark-grey);

  margin: 0;
}

.product bq-product-price {
  display: block;

  font-size: 16px;
  line-height: 24px;

  font-weight: var(--font-weight-bold);

  color: var(--color-typo);

  margin: 0;
}

@media (min-width: 820px) {
  .product {
    min-width: 280px;
    max-width: 280px;
  }
}