.products {
  max-width: calc(var(--max-width) + var(--horizontal-padding) * 2 + 10px);
  width: 100%;

  margin: 16px auto;
}

.products__title {
  font-size: 36px;
  line-height: 44px;

  font-weight: var(--font-weight-semibold);

  color: var(--color-typo);

  margin-bottom: 24px;
  padding: 0 var(--horizontal-padding);
}

.products__inner {
  display: grid;
  grid-template-columns: minmax(196px, 320px);

  justify-content: center;

  gap: 16px;
}

.products__inner .product {
  min-width: 100%;
  max-width: 100%;
}

.products__cleanstate {
  display: flex;
  align-items: center;

  padding: 0 var(--horizontal-padding);
  overflow-x: auto;

  gap: 16px;
}

@media (min-width: 576px) {
  .products__inner {  
    grid-template-columns: repeat(2, minmax(196px, 320px));
  }
}

@media (min-width: 820px) {
  .products {
    padding: 0 var(--horizontal-padding);
  }

  .products__title {
    padding: 0;
  }

  .products__inner {  
    grid-template-columns: repeat(3, minmax(196px, 320px));

    gap: 32px;
  }
}
