{{ "date-location.css" | asset_url | stylesheet_tag }}

<div class="booqable-datepicker"></div>

{% schema %}
{
  "name": "Date location picker",
  "tag": "section",
  "class": "date-location",
  "settings": []
}
{% endschema %}
