{{ "date-location.css" | asset_url | stylesheet_tag }}

<div class="date-location">
  <div class="booqable-datepicker"></div>
</div>

{% schema %}
{
  "name": "Date location picker",
  "settings": []
}
{% endschema %}
