{{ "search.css" | asset_url | stylesheet_tag }}

<h1 class="search__title">Search results</h1>
<div class="search-results">
  {% for result in results %}
    <div class="bq-product">
      <div class="bq-product__image">
        {% for image in result.images limit: 1 %}
          <img data-src="{{ image.url | image_url }}" alt="" class="lazyload">
        {% endfor %}
      </div>
      <a href="/product/preview">
        <h3 class="bq-product__name">{{ result.name }}</h3>
      </a>
      <p class="bq-product__duration">2 days</p>
      <p class="bq-product__price">$24.99</p>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Search",
  "tag": "section",
  "class": "search",
  "settings": []
}
{% endschema %}