<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://kit.fontawesome.com/ff3b3de2b5.js" crossorigin="anonymous"></script>
  {{ content_for_checkout_header }}

  {% render 'fonts', settings: settings %}
  {% render 'color-palette-styles', settings: settings, branding_color: branding_color %}

  {% render 'page-metadata',
    canonical_url: canonical_url,
    page_title: page_title,
    page_description: page_description,
    page_meta_image_url: page_meta_image_url,
    page_meta_image_alt: page_meta_image_alt,
    product: product,
    shop: shop,
    locale: locale
  %}
</head>
<body>
  {{ content_for_layout }}

  {{ content_for_body }}
</body>
</html>
