{%- if settings.cookie_notice_activated or section_preview %}
  <style>
    .cookie-notice-preferences {
      max-width: calc(var(--max-width) + var(--horizontal-padding) * 2);
      width: 100%;

      margin: 0 auto;
      padding: 0 var(--horizontal-padding);
    }

    .cookie-notice-preferences__inner {
      background-color: {{ section.settings.background_color }};
      border-radius: 8px;
      padding: 16px 24px;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .cookie-notice-preferences__inner--preview {
      margin-top: 16px;
    }

    .cookie-notice-preferences__inner button {
      background-color: var(--color-accent-background);
      color: var(--color-accent-foreground);
    }
  </style>

  <div class="cookie-notice-preferences__inner{% if section_preview %} cookie-notice-preferences__inner--preview{% endif %}">
    <div class="bq-content rx-content text-{{ section.key }}">
      {{ section.settings.paragraph_text }}
    </div>
    <button type="button"
      class="bq-button bq-button--size-md bq-button--solid"
      onclick="CookieNotice.showPreferencesModal()"
    >
      {{ section.settings.button_text }}
    </button>
  </div>
{%- endif %}

{% schema %}
{
  "name": "Cookie notice preferences",
  "description": "Display text in various styles.",
  "tag": "div",
  "class": "cookie-notice-preferences",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#EFF1F3"
    },
    {
      "type": "contentEditor",
      "id": "paragraph_text",
      "label": "Paragraph",
      "default": "<p>View or change your cookie preferences.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Cookie preferences"
    }
  ]
}
{% endschema %}
