{{ "account.css" | asset_url | stylesheet_tag }}

<div class="account">
  <h3 class="account__title">{{ section.settings.title }}</h3>

  {% if section.settings.description %}
    <div class="account__divider">
      {{ section.settings.description }}
    </div>
  {% endif %}

  {% form 'edit_password' %}
    {%- render 'form-password-session-pages',
        form: form,
        form_name: "edit_password",
        password_label: section.settings.password_label,
        password_confirmation_label: section.settings.password_confirmation_label,
        button_label: section.settings.change_my_password
    -%}
  {% endform %}
</div>

{% schema %}
  {
    "name": "Edit password form",
    "important": true,
    "unique": true,
    "templates": ["edit-password"],
    "settings": [
      {
        "type": "header",
        "content": "Translations"
      },
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Change your password"
      },
      {
        "id": "description",
        "type": "text",
        "label": "Description",
        "default": ""
      },
      {
        "id": "password_label",
        "type": "text",
        "label": "Password field label",
        "default": "New password"
      }, {
        "id": "password_confirmation_label",
        "type": "text",
        "label": "Password confirmation field label",
        "default": "Confirm new password"
      }, {
        "id": "change_my_password",
        "type": "text",
        "label": "Change my password",
        "default": "Change my password"
      }
    ]
  }
{% endschema %}
