<h1>User log in</h1>
<form class="new_shop_next_user" id="new_shop_next_user" action="{{ canonical_url }}" accept-charset="UTF-8" method="post">

  <input type="hidden" name="authenticity_token" value="{{ form_authenticity_token }}" autocomplete="off">

  <div class="field">
    <label for="shop_next_user_email">Email</label><br>
    <input autofocus="autofocus" autocomplete="email" type="email" name="shop_next_user[email]" id="shop_next_user_email">
  </div>

  <div class="field">
    <label for="shop_next_user_password">Password</label><br>
    <input autocomplete="current-password" type="password" name="shop_next_user[password]" id="shop_next_user_password">
  </div>

    <div class="field">
      <input name="shop_next_user[remember_me]" type="hidden" value="0" autocomplete="off"><input type="checkbox" value="1" name="shop_next_user[remember_me]" id="shop_next_user_remember_me">
      <label for="shop_next_user_remember_me">Remember me</label>
    </div>

  <div class="actions">
    <input type="submit" name="commit" value="Log in" data-disable-with="Log in">
  </div>
</form>