<style>
  .spacer-{{ section.key }} hr {
    color: var(--color-border);

    {% if section.settings.hr_color != blank %}
      color: {{ section.settings.hr_color }};
    {% endif %}
  }
</style>

<div class="spacer-{{ section.key }} spacer__inner spacer__inner--{{ section.settings.size }}{% if section_preview %} spacer__inner--preview{% endif %}">
  {% if section.settings.use_hr %}
    <hr>
  {% endif %}
  {% if section_preview %}
    <span>This section will render an empty space</span>
  {% endif %}
</div>

{% schema %}
{
  "name": "Spacer",
  "description": "Display a spacing between sections, optionally with a horizontal ruler.",
  "tag": "div",
  "class": "spacer",
  "settings": [
    {
      "type": "header",
      "content": "Horizontal ruler"
    },
    {
      "type": "checkbox",
      "id": "use_hr",
      "label": "Use horizontal ruler"
    },
    {
      "type": "color",
      "id": "hr_color",
      "label": "Color",
      "placeholder": "Default"
    },
    {
      "type": "header",
      "content": "Size"
    },
    {
      "type": "select",
      "id": "size",
      "options": [
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "sm"
    }
  ]
}
{% endschema %}
