.account {
  margin: 0 auto;
  max-width: 400px;
  padding: 0 16px;
}

.account__title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

@media screen and (min-width: 375px) {
  .account__title {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 810px) {
  .account__title {
    font-size: 36px;
    line-height: 44px;
  }  
}

.account__title--centered {
  text-align: center;
}

.account__title-icon {
  text-align: center;
  color: var(--color-primary);
  font-size: 32px;
  margin-left: 0 auto 16px;
}

@media screen and (min-width: 375px) {
  .account__title-icon {
    font-size: 40px;
  }
}

.description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  color: var(--color-typo);
}

.description--centered {
  text-align: center;;
}

.account__button {
  border: none;
  cursor: pointer;
  display: inline-block;
  font-weight: var(--font-weight-bold);
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 0px;
  width: 100%;
  text-decoration: none;
}

.account__button--primary {
  background-color: var(--color-primary);
  border-radius: var(--border-radius-sm);
  color: white;
}

.account__button--secondary {
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius-sm);
  color: black;
  text-decoration: none;
}

.account__button--minimal {
  color: var(--color-primary);
  font-weight: normal;
  text-decoration: none;
}

.account__label {
  position: relative;
  top: 8px;
  background-color: white;
  left: 16px;
  color: var(--color-grey-dark);

  font-size: 14px;
  padding: 0 2px;

  transition-property: top, color, background-color;
  transition-duration: 300ms;
}

.account__label:has(+ input:focus) {
  color: var(--color-primary);
}

.account__label:not(:has(+ input:focus)):has(+ input:placeholder-shown)  {
  top: 37px;
  background-color: transparent;
  color: var(--color-grey-dark);
  font-size: 16px;
}

.account__static-label {
  color: var(--color-typo);
  font-size: 16px;
  line-height: 24px;
  padding: 0 2px;
}

.account__input {
  width: 100%;
  line-height: 38px;
  padding: 8px;
  margin: 0 0 6px 0;
  border-radius: 8px;
  border: 1px solid var(--color-grey-medium);
  font-size: 16px;
}

.account__input:focus {
  outline: none;
  line-height: 36px;
  padding: 8px 7px;
  border-color: var(--color-primary);
  border-width: 2px;
}

.account__input--error {
  border-color: var(--color-danger-base);
  background-color: var(--color-danger-background);
}

.account__error-message {
  font-size: 14px;
  color: var(--color-danger-dark);
}

.account__separator {
  border: none;
  border-bottom: 1px solid #D8DCE0;
  margin-bottom: 24px;
}

.account__link {
  color: var(--color-primary);
  text-decoration: none;
}

.account__alert {
  color: var(--color-red);
  margin-bottom: 24px;
}

.account__divider {
  margin-bottom: 24px;
}

.account__divider--small {
  margin-bottom: 16px;
}

.account-type-options {
  display: flex;
}

.account-type-options__first-option {
  margin-right: 24px;
}

.breadcrumbs {
  color: var(--color-primary);
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  text-decoration: none;
}

.breadcrumbs__chevron {
  margin-right: 8px;
}
