.account {
  margin: 0 auto;
  max-width: 400px;
  padding: 0 16px;
  color: var(--color-primary-foreground);
}

.account__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

@media screen and (min-width: 375px) {
  .account__title {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 810px) {
  .account__title {
    font-size: 36px;
    line-height: 44px;
  }
}

.account__title--centered {
  text-align: center;
}

.account__title-icon {
  color: var(--color-accent-background);
  font-size: 32px;
  margin: 0 auto 16px;
  text-align: center;
}

@media screen and (min-width: 375px) {
  .account__title-icon {
    font-size: 40px;
  }
}

.account__title + .account__divider {
  color: var(--color-primary-foreground-translucent);
}

.description {
  color: var(--color-primary-foreground-translucent);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.description--centered {
  text-align: center;
}

.account__button {
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  line-height: 24px;
  padding: 12px 0px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.account__button--primary {
  background-color: var(--color-accent-background);
  border-radius: var(--border-radius-sm);
  color: var(--color-accent-foreground);
}

.account__button--secondary {
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--color-accent-background);
  color: var(--color-primary-foreground);
  text-decoration: none;
}

.account__button--minimal {
  color: var(--color-accent-background);
  font-weight: normal;
  text-decoration: none;
}

.account-fieldset__label {
  background: linear-gradient(0deg, var(--color-primary-background) 0%, var(--color-primary-background) 44%, transparent 44%);
  color: var(--color-primary-foreground);
  font-size: 14px;
  left: 16px;
  padding: 0 2px;
  position: relative;
  top: 8px;
  transition-duration: 300ms;
  transition-property: top, color, background-color;
}

.account-fieldset__label:not(:has(+ input:focus)):has(+ input:placeholder-shown) {
  background-color: transparent;
  color: var(--color-primary-foreground);
  font-size: 16px;
  top: 37px;
}

.account-fieldset--error .account-fieldset__label {
  background: linear-gradient(0deg, var(--color-danger-background) 0%, var(--color-danger-background) 44%, transparent 44%);
  color: var(--color-danger-dark);
}

.account-fieldset--error .account-fieldset__label:not(:has(+ input:focus)):has(+ input:placeholder-shown) {
  color: var(--color-danger-dark);
}

.account-fieldset__static-label, .account-fieldset__radio-label {
  font-size: 16px;
  line-height: 24px;
  padding: 0 2px;
}

.account-fieldset--error .account-fieldset__static-label {
  color: var(--color-danger-dark);
}

.account-fieldset__input {
  -webkit-box-shadow: inset 0 0 0 50px var(--color-primary-background);
  -webkit-text-fill-color: var(--color-primary-foreground);
  border-radius: 8px;
  border: 1px solid var(--color-primary-foreground);
  background: var(--color-primary-background);
  color: var(--color-primary-foreground);
  font-size: 16px;
  line-height: 38px;
  margin: 0 0 6px 0;
  padding: 8px;
  width: 100%;
}

.account-fieldset__input:focus {
  border-width: 2px;
  line-height: 36px;
  outline: none;
  padding: 8px 7px;
}

.account-fieldset--error .account-fieldset__input {
  background-color: var(--color-danger-background);
  border-color: var(--color-danger-base);
  color: var(--color-danger-dark);
  -webkit-box-shadow: inset 0 0 0 50px var(--color-danger-background);
  -webkit-text-fill-color: var(--color-danger-dark);
}

.account__error-message {
  color: var(--color-danger-dark);
  font-size: 14px;
}

.account__separator {
  border-bottom: 1px solid #D8DCE0;
  border: none;
  margin-bottom: 24px;
}

.account__link {
  color: var(--color-link);
  text-decoration: none;
}

.account__agreement-opener {
  color: var(--color-link);
  cursor: pointer;
}

.account__agreement-modal {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  backdrop-filter: blur(5px);
  visibility: hidden;
  opacity: 0;
}

.account__agreement-content {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 830px;
  padding: 30px;
  margin: 0 auto;
  display: block;
}

.account__agreement-inner {
  border: 1px solid var(--color-grey-medium);
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  border-radius: 8px;
  background: var(--color-primary-background);
}

.account__agreement-text {
  display: block;
  padding: 16px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.account__agreement-closer {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
}

.account__agreement-closer:after,
.account__agreement-closer:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 23%;
  right: 23%;
  transform: rotate(45deg);
  height: 2px;
  background: var(--color-link);
}

.account__agreement-closer:after {
  transform: rotate(-45deg);
}

.account__agreement-buttons {
  padding-top: 16px;
  display: block;
  text-align: center;
}

.account__agreement-button {
  max-width: 400px;
}

[id^='user_agreement_opener']:checked ~ .account__agreement-modal {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 768px) {
  .account__agreement-modal {
    padding: 20px 50px;
  }
}

@media (min-width: 1200px) {
  .account__agreement-modal {
    padding: 50px;
  }
}

.account__alert {
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 12px 16px;
}

.account__alert--info {
  background-color: var(--color-blue-background);
  border: 1px solid var(--color-primary);
  color: var(--color-typo);
}

.account__alert--danger {
  background-color: var(--color-danger-background);
  border: 1px solid var(--color-danger-base);
  color: var(--color-danger-dark);
}

.account__divider {
  margin-bottom: 24px;
}

.account__divider--small {
  margin-bottom: 16px;
}

.account-type-options {
  display: flex;
}

.account-type-options__first-option {
  margin-right: 24px;
}

.breadcrumbs {
  align-items: center;
  color: var(--color-accent-background);
  display: flex;
  font-size: 16px;
  margin-bottom: 16px;
  text-decoration: none;
}

.breadcrumbs__chevron {
  margin-right: 8px;
}
