:root {
  /* Sizes */
  --max-width: 1216px;
  --horizontal-padding: 16px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 20px;
  /* Colors */
  --color-white: #ffffff;
  --color-green: #8fcc40;
  --color-red: #f85454;
  --color-backdrop: #0c2747b3;
  --color-typo: #0c2747;
  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(i),
*:not(i)::before,
*:not(i)::after {
  font-family: var(--font-body);
}

body {
  background-color: var(--color-primary-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading) !important;
  color: var(--color-primary-foreground);
}

p {
  color: var(--color-primary-foreground);
}

input {
  font-family: sans-serif;
}

.bq-sidebar-head *,
.bq-branded.bq-title,
.bq-poweredby-container .button-group *,
.bq-selected-dates .bq-branded {
  color: var(--color-accent-foreground) !important;
}

.bq-button {
  border: none;

  cursor: pointer;

  display: inline-block;

  font-weight: var(--font-weight-bold);
  text-align: center;
}

.bq-button--size-sm {
  font-size: 12px;
}

.bq-button--size-md {
  font-size: 14px;
}

.bq-button--size-lg {
  font-size: 16px;
}

.bq-button--solid {
  border-radius: var(--border-radius-sm);

  text-decoration: none;
}

.bq-button--solid.bq-button--size-sm {
  padding: 6px 12px;
}

.bq-button--solid.bq-button--size-md {
  padding: 10px 20px;
}

.bq-button--solid.bq-button--size-lg {
  padding: 14px 28px;
}

.bq-button--solid:hover {
  box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, 0.12);
}

.bq-button.error {
  background-color: var(--color-red);
}

.divider {
  max-width: calc(var(--max-width) + var(--horizontal-padding) * 2);
  width: 100%;

  margin: 0 auto;
  padding: 0 var(--horizontal-padding);
}

.divider .divider__inner {
  margin: 32px 0;

  border-top: 1px solid var(--color-border);
}

.spacer {
  max-width: calc(var(--max-width) + var(--horizontal-padding) * 2);
  width: 100%;

  margin: 0 auto;
  padding: 0 var(--horizontal-padding);
}

.spacer hr {
  border-style: solid;
  border-bottom: none;
}

.spacer__inner--sm {
  padding: 8px 0;
}

.spacer__inner--md {
  padding: 16px 0;
}

.spacer__inner--lg {
  padding: 32px 0;
}

.skeleton {
  display: inline-flex;

  background-color: var(--color-image-placeholder);

  padding: 8px 0;

  border-radius: var(--border-radius-sm);
}

.text {
  max-width: calc(var(--max-width) + var(--horizontal-padding) * 2);
  width: 100%;

  margin: 0 auto;

  padding: 12px var(--horizontal-padding);
}

[data-focus="true"] {
  box-shadow: 0 0 0 3px #395db899;
}
