.footer {
  max-width: calc(var(--max-width) + var(--horizontal-padding) * 2);
  width: 100%;

  padding: 0 var(--horizontal-padding);
  margin: 0 auto;
}

.footer__content {
  border-top: 1px solid var(--color-border);
}

.footer__nav {
  padding: 15px 0;
}

.footer__menu {
  flex-wrap: wrap;
}

.footer__menu .list-menu__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__menu .list-menu__item:not(:last-child) {
  margin-right: 32px;
}

.footer__menu--align-left {
  justify-content: flex-start;
}

.footer__menu--align-center {
  justify-content: center;
}

.footer__menu--align-right {
  justify-content: flex-end;
}

.footer__nav-item {
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--font-weight-semibold);

  color: var(--color-primary-foreground);

  text-decoration: none;
}

.footer__nav-subitem {
  font-size: 16px;
  line-height: 24px;

  color: var(--color-primary-foreground);

  text-decoration: none;
}

.footer__nav-item:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-primary-foreground);
}

.footer__bottom {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright--align-left {
  text-align: left;
  margin-right: auto;
}

.footer__copyright--align-center {
  text-align: center;
  margin: 0 auto;
}

.footer__copyright--align-right {
  text-align: right;
  margin-left: auto;
}

.footer__payment-methods {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  margin: 0 -4px;
  padding: 15px 0;
}

.footer__payment-methods--align-left {
  justify-content: flex-start;
}

.footer__payment-methods--align-center {
  justify-content: center;
}

.footer__payment-methods--align-right {
  justify-content: flex-end;
}

.footer__payment-methods i {
  color: var(--color-primary-foreground);

  font-size: 32px;
}

.footer__payment-methods svg {
  max-height: 32px;
  max-width: 75px;
  width: 100%;
}

.footer__payment-methods span[title],
.footer__payment-methods i {
  margin: 0 4px 4px;
  display: inline-flex;
  align-items: center;
}

.footer__social {
  padding: 15px 0;
}

.footer__social--align-left {
  justify-content: flex-start;
}

.footer__social--align-center {
  justify-content: center;
}

.footer__social--align-right {
  justify-content: flex-end;
}

.footer__social--spacing-sm .list-menu__item:not(:last-child) {
  margin-right: 20px;
}

.footer__social--spacing-md .list-menu__item:not(:last-child) {
  margin-right: 30px;
}

.footer__social--spacing-lg .list-menu__item:not(:last-child) {
  margin-right: 40px;
}

.footer__social-item {
  color: var(--color-primary-foreground);
}

.footer__social--size-sm {
  font-size: 16px;
}

.footer__social--size-md {
  font-size: 20px;
}

.footer__social--size-lg {
  font-size: 24px;
}

.footer__copyright {
  color: var(--color-primary-foreground);
}

.footer__copyright a {
  color: var(--color-primary-foreground);
  text-decoration: none;
}

.footer__copyright a:hover {
  text-decoration: underline;
}

.footer-app {
  display: inline-block;
}

@media (max-width: 576px) {
  .footer__bottom {
    padding: 8px 0 32px 0;
    flex-direction: column;
  }

  .footer__copyright {
    text-align: center;
    margin: 0;
  }

  .footer__menu {
    justify-content: flex-start;
  }

  .footer__menu {
    flex-direction: column;
  }

  .footer__menu .list-menu__item {
    margin: 0;
  }

  .footer__menu > .list-menu__item {
    margin-bottom: 16px;
  }

  .footer-app {
    display: initial;
    margin: 16px 0;
  }
}
