.list-menu {
  display: flex;

  list-style-type: none;

  margin: 0;
  padding: 0;
}

.list-menu--horizontal {
  flex-flow: row wrap;
  align-items: center;
}

.list-menu--vertical {
  flex-flow: column nowrap;
}

.list-menu__item-caret {
  transform: rotate(0);

  transition: transform 150ms;
}

.list-menu__item {
  display: grid;

  grid-template-columns: 1fr min-content;
  align-items: center;

  position: relative;
}

.list-menu__item [id^="floating-child-"], .list-menu__item [id^="floating-grandchild-"] {
  display: none;
}

.list-menu__item [id^="floating-child-"]:checked ~ .list-submenu, .list-menu__item [id^="floating-grandchild-"]:checked ~ .list-submenu {
  max-height: 200vh;

  transition: max-height 200ms;
}

.list-menu__item [id^="floating-child-"]:checked + label .list-menu__item-caret, .list-menu__item [id^="floating-grandchild-"]:checked + label .list-menu__item-caret {
  transform: rotate(180deg);

  transition: transform 150ms;
}

.list-submenu {
  visibility: hidden;
  pointer-events: none;

  padding: 0;
  margin: 0;
}

.list-submenu__container {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.list-menu--horizontal .list-submenu {
  position: absolute;

  top: 100%;
  left: 0;

  padding-top: 16px;

  min-width: 250px;

  opacity: 0;
  transform: translateY(20px);

  transition: visibility 0s linear 100ms, opacity 200ms, transform 150ms;
}

.list-menu--horizontal .list-submenu .list-submenu {
  top: 0;
  left: 100%;

  padding: 0;

  transform: translateY(0) translateX(20px);
}

.list-menu--horizontal .list-submenu .list-submenu--bottom {
  top: initial;
  bottom: 0;
}

.list-menu--horizontal .list-menu__item:hover > .list-submenu {
  visibility: visible;
  pointer-events: all;

  opacity: 1;
  transform: translateY(0) translateX(0);

  transition: visibility 0s linear 0s, opacity 200ms, transform 150ms;
}

.list-menu--vertical .list-submenu {
  grid-column: 1 / 3;

  visibility: visible;
  pointer-events: all;

  overflow: hidden;
  max-height: 0vh;

  transition: max-height 200ms;
}

.list-menu--vertical .list-submenu .list-submenu {
  padding-left: 24px;
}

.list-menu--vertical > .list-menu__item:first-child {
  border-top: 1px solid var(--color-border);
}

.list-submenu__container {
  white-space: nowrap;

  box-shadow: 0px 1px 2px rgba(33, 59, 71, 0.12),
    0px 4px 12px rgba(33, 59, 71, 0.12);

  border-radius: var(--border-radius-sm);
}

.list-menu--horizontal .list-submenu .list-menu__item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.list-menu--horizontal .list-submenu .list-menu__item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.list-menu--horizontal .list-submenu .list-menu__item:hover {
  box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, 0.12);
}
