.bq-login {
  margin: 0 auto;
  width: 400px;
  padding: 0 16px;
}

.bq-login-title {
  font-size: 24px;
  line-height: 32px;
}

.bq-button--login {
  background-color: var(--color-primary);
  border-radius: var(--border-radius-sm);
  color: white;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 0px;
  width: 100%;
}

.bq-button--secondary {
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius-sm);
  color: black;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 0px;
  width: 100%;
}

.bq-button--minimal {
  color: var(--color-primary);
  font-weight: normal;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 0px;
  width: 100%;
}

.bq-login__label {
  position: relative;
  top: 8px;
  background-color: white;
  left: 16px;
  color: var(--color-grey-dark);

  font-size: 14px;
  padding: 0 2px;

  transition-property: top, color, background-color;
  transition-duration: 300ms;
}

.bq-login__label:has(+ input:focus) {
  color: var(--color-primary);
}

.bq-login__label:not(:has(+ input:focus)):has(+ input:placeholder-shown)  {
  top: 37px;
  background-color: transparent;
  color: var(--color-grey-dark);
  font-size: 16px;
}

.bq-login__input {
  width: 100%;
  line-height: 38px;
  padding: 8px;
  margin: 0 0 6px 0;
  border-radius: 8px;
  border: 1px solid var(--color-grey-medium);
  font-size: 16px;
}

.bq-login__input:focus {
  outline: none;
  line-height: 36px;
  padding: 8px 7px;
  border-color: var(--color-primary);
  border-width: 2px;
}

.bq-separator {
  border: none;
  border-bottom: 1px solid #D8DCE0;
  margin-bottom: 24px;
}

.bq-link {
  color: var(--color-primary);
  text-decoration: none;
}

.bq-h-margin-bottom-24 {
  margin-bottom: 24px;
}

.bq-alert {
  color: var(--color-red);
  margin-bottom: 24px;
}
