.bq-content.rx-content ul {
  list-style: disc;
}

.bq-content.rx-content ol {
  list-style: decimal;
}

.bq-content.rx-content iframe {
  width: 100%;
}

.bq-content.rx-content {
  font-family: "Roboto", BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.bq-content.rx-content h1 + *, .bq-content.rx-content h2 + *, .bq-content.rx-content h3 + *, .bq-content.rx-content h4 + *, .bq-content.rx-content h5 + *, .bq-content.rx-content h6 + * {
  margin-top: 12px;
}

.bq-content.rx-content p + h2, .bq-content.rx-content ul + h2, .bq-content.rx-content ol + h2, .bq-content.rx-content blockquote + h2, .bq-content.rx-content pre + h2, .bq-content.rx-content table + h2, .bq-content.rx-content dl + h2, .bq-content.rx-content address + h2 {
  margin-top: 24px;
}

.bq-content.rx-content p + h3, .bq-content.rx-content ul + h3, .bq-content.rx-content ol + h3, .bq-content.rx-content blockquote + h3, .bq-content.rx-content pre + h3, .bq-content.rx-content table + h3, .bq-content.rx-content dl + h3, .bq-content.rx-content address + h3 {
  margin-top: 24px;
}

.bq-content.rx-content p + h4, .bq-content.rx-content ul + h4, .bq-content.rx-content ol + h4, .bq-content.rx-content blockquote + h4, .bq-content.rx-content pre + h4, .bq-content.rx-content table + h4, .bq-content.rx-content dl + h4, .bq-content.rx-content address + h4 {
  margin-top: 24px;
}

.bq-content.rx-content p + h5, .bq-content.rx-content ul + h5, .bq-content.rx-content ol + h5, .bq-content.rx-content blockquote + h5, .bq-content.rx-content pre + h5, .bq-content.rx-content table + h5, .bq-content.rx-content dl + h5, .bq-content.rx-content address + h5 {
  margin-top: 24px;
}

.bq-content.rx-content p + h6, .bq-content.rx-content ul + h6, .bq-content.rx-content ol + h6, .bq-content.rx-content blockquote + h6, .bq-content.rx-content pre + h6, .bq-content.rx-content table + h6, .bq-content.rx-content dl + h6, .bq-content.rx-content address + h6 {
  margin-top: 24px;
}

.bq-content.rx-content p + *, .bq-content.rx-content ul + *, .bq-content.rx-content ol + *, .bq-content.rx-content blockquote + *, .bq-content.rx-content pre + *, .bq-content.rx-content table + *, .bq-content.rx-content dl + *, .bq-content.rx-content address + * {
  margin-top: 16px;
}

.bq-content.rx-content div + * {
  margin-top: 24px;
}

.bq-content.rx-content h1 + h2 {
  margin-top: 24px;
}

.bq-content.rx-content h2 + h3 {
  margin-top: 24px;
}

.bq-content.rx-content h3 + h4 {
  margin-top: 24px;
}

.bq-content.rx-content h4 + h5 {
  margin-top: 24px;
}

.bq-content.rx-content h5 + h6 {
  margin-top: 24px;
}

.bq-content.rx-content a,
.bq-content.rx-content a:hover,
.bq-content.rx-content a:focus {
  color: var(--color-link);
}

.bq-content.rx-content p {
  font-size: 16px;
  line-height: 1.5;
}

.bq-content.rx-content h1,
.bq-content.rx-content h2,
.bq-content.rx-content h3,
.bq-content.rx-content h4,
.bq-content.rx-content h5,
.bq-content.rx-content h6 {
  font-family: var(--font-heading);
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  letter-spacing: -0.01em;
  color: var(--color-primary-foreground);
}

.bq-content.rx-content h1 a,
.bq-content.rx-content h1 a:focus,
.bq-content.rx-content h1 a:hover,
.bq-content.rx-content h2 a,
.bq-content.rx-content h2 a:focus,
.bq-content.rx-content h2 a:hover,
.bq-content.rx-content h3 a,
.bq-content.rx-content h3 a:focus,
.bq-content.rx-content h3 a:hover,
.bq-content.rx-content h4 a,
.bq-content.rx-content h4 a:focus,
.bq-content.rx-content h4 a:hover,
.bq-content.rx-content h5 a,
.bq-content.rx-content h5 a:focus,
.bq-content.rx-content h5 a:hover,
.bq-content.rx-content h6 a,
.bq-content.rx-content h6 a:focus,
.bq-content.rx-content h6 a:hover {
  color: inherit;
  text-decoration: none;
}

.bq-content.rx-content h1 {
  font-size: 40px;
  line-height: 1.2;
}

.bq-content.rx-content h2 {
  font-size: 24px;
  line-height: 1.3;
}

.bq-content.rx-content h3 {
  font-size: 21px;
  line-height: 1.5;
}

.bq-content.rx-content ul,
.bq-content.rx-content ol {
  margin-left: 26px;
}

.bq-content.rx-content li {
  font-size: 16px;
  line-height: 1.5;
}

.bq-content.rx-content li li {
  font-size: 1em;
}

.bq-content.rx-content dt, .bq-content.rx-content dd {
  font-size: 16px;
  line-height: 1.5;
}

.bq-content.rx-content dt {
  font-weight: bold;
}

.bq-content.rx-content dd + dt {
  margin-top: 0.25em;
}

.bq-content.rx-content pre {
  overflow: auto;
  white-space: pre;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 90%;
  line-height: 1.5;
  background-color: #F5F5F6;
  padding: 1em;
}

.bq-content.rx-content pre code {
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  display: block;
  line-height: inherit;
}

.bq-content.rx-content blockquote {
  font-style: italic;
  font-weight: normal;
  padding: 0;
  background: transparent;
}

.bq-content.rx-content blockquote p {
  font-size: 125%;
  line-height: 1.5;
}

.bq-content.rx-content blockquote p + p {
  margin-top: 4px;
}

.bq-content.rx-content blockquote cite,
.bq-content.rx-content caption {
  text-align: left;
  font-style: normal;
}

.bq-content.rx-content table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  empty-cells: show;
}

.bq-content.rx-content td,
.bq-content.rx-content th {
  text-align: left;
  vertical-align: top;
  font-size: 95%;
  line-height: 1.5;
  padding: 0.75em;
  border: 1px solid rgba(217, 219, 221, 0.5);
}

.bq-content.rx-content th {
  font-weight: normal;
}

.bq-content.rx-content thead th {
  font-weight: bold;
}

.bq-content.rx-content address {
  font-style: normal;
}

.bq-content.rx-content dfn,
.bq-content.rx-content abbr {
  font-size: 95%;
}

.bq-content.rx-content time,
.bq-content.rx-content cite,
.bq-content.rx-content small,
.bq-content.rx-content var,
.bq-content.rx-content samp,
.bq-content.rx-content kbd,
.bq-content.rx-content code {
  font-size: 85%;
}

.bq-content.rx-content sup,
.bq-content.rx-content sub {
  font-size: 65%;
}

.bq-content.rx-content var,
.bq-content.rx-content code,
.bq-content.rx-content kbd,
.bq-content.rx-content samp {
  display: inline-block;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-style: normal;
  line-height: 1;
  vertical-align: baseline;
}

.bq-content.rx-content samp,
.bq-content.rx-content kbd,
.bq-content.rx-content code {
  border-radius: 2px;
}

.bq-content.rx-content kbd {
  border: 1px solid rgba(0, 11, 29, 0.15);
  padding: .2em .4em;
}

.bq-content.rx-content code {
  position: relative;
  top: -1px;
  border: 1px solid transparent;
  padding: .2em .4em .2em;
}

.bq-content.rx-content b,
.bq-content.rx-content strong {
  font-weight: 600;
}

.bq-content.rx-content dfn[title],
.bq-content.rx-content abbr[title] {
  letter-spacing: .01em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  cursor: help;
}

.bq-content.rx-content cite {
  font-style: italic;
}

.bq-content.rx-content sub,
.bq-content.rx-content sup {
  line-height: 1;
  margin-left: 2px;
}

.bq-content.rx-content sub {
  vertical-align: sub;
}

.bq-content.rx-content sup {
  vertical-align: super;
}

.bq-content.rx-content .embed-responsive {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.bq-content.rx-content hr {
  position: relative;
  line-height: 1;
  background: none;
  border: none;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 10px;
}

.bq-content.rx-content hr:before {
  content: '';
  position: absolute;
  top: 50%;
}

.bq-content.rx-content hr:before {
  width: 100%;
  max-width: 100%;
  margin-top: -0.5px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(217, 219, 221, 0.6);
}

.bq-content.rx-content .align-right {
  text-align: right;
}

.bq-content.rx-content .align-center {
  text-align: center;
}

.bq-content.rx-content .align-justify {
  text-align: justify;
}

.bq-content.rx-content .float-left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  max-width: 200px;
}

.bq-content.rx-content .float-right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
  max-width: 200px;
}
