.list-menu__item [id^="sidebar-navigation-menu-child-"],
.list-menu__item [id^="sidebar-navigation-menu-grandchild-"] {
  display: none;
}

.list-menu__item [id^="sidebar-navigation-menu-child-"]:checked ~ .list-submenu,
.list-menu__item
  [id^="sidebar-navigation-menu-grandchild-"]:checked
  ~ .list-submenu {
  max-height: 100vh;

  transition: max-height 200ms;
}

.list-menu__item
  [id^="sidebar-navigation-menu-child-"]:checked
  + label
  .list-menu__item-caret,
.list-menu__item
  [id^="sidebar-navigation-menu-grandchild-"]:checked
  + label
  .list-menu__item-caret {
  transform: rotate(180deg);

  transition: transform 150ms;
}

#sidebar-toggle,
.sidebar-toggle-element {
  display: none;
}

.sidebar-navigation {
  position: relative;

  background-color: var(--color-primary-background);
}

.sidebar-navigation--sticky {
  position: sticky;

  top: 75px;
}

.sidebar-navigation__header {
  padding-left: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--color-border);
}

.sidebar-navigation__close {
  padding: 16px 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.sidebar-navigation__close i {
  font-size: 16px;

  color: var(--color-primary-foreground);
}

.sidebar-navigation__title {
  font-size: 18px;
  line-height: 28px;

  font-weight: var(--font-weight-semibold);

  color: var(--color-primary-foreground);
}

.sidebar-navigation-menu__title {
  font-size: 20px;
  line-height: 28px;

  font-weight: var(--font-weight-semibold);

  margin-bottom: 12px;

  color: var(--color-primary-foreground);
}

.sidebar-navigation-menu:not(:first-child) {
  padding: 16px 0;
}

.sidebar-navigation .list-menu > .list-menu__item:first-child {
  border-top: none;
}

.sidebar-navigation .list-menu__item-caret {
  margin-left: auto;

  font-size: 14px;
}

.sidebar-navigation .list-submenu .list-menu__item-caret {
  margin-left: auto;
}

.sidebar-navigation .list-submenu__container {
  background-color: var(--color-primary-background);
}

.sidebar-navigation .list-menu .list-menu__item-caret {
  margin-left: 16px;

  cursor: pointer;
}

.sidebar-navigation .list-submenu .sidebar-navigation-menu__link {
  font-weight: var(--font-weight-regular);
}

.sidebar-navigation-menu__link {
  font-size: 16px;
  line-height: 24px;

  font-weight: var(--font-weight-semibold);

  color: var(--color-primary-foreground);

  text-decoration: none;
}

.sidebar-navigation-menu__link--current {
  color: var(--color-accent-background);
}

.sidebar-navigation-menu__link--current i {
  margin-right: 5px;
}

.sidebar-navigation-menu__link:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-primary-foreground);
}

.sidebar-navigation-menu__cleanstate {
  display: flex;

  margin-bottom: 8px;
}

.sidebar-navigation-menu__cleanstate:nth-of-type(1) {
  width: 40%;
}

.sidebar-navigation-menu__cleanstate:nth-of-type(2) {
  width: 30%;
}

.sidebar-navigation-menu__cleanstate:nth-of-type(3) {
  width: 55%;
}

.sidebar-navigation-menu__cleanstate:nth-of-type(4) {
  width: 35%;
}

.sidebar-navigation .list-menu > .list-menu__item {
  padding: 3px 0;
}

.sidebar-navigation
  .list-menu
  .list-submenu
  .list-submenu
  > .list-menu__item:last-child {
  padding-bottom: 0;
}

.sidebar-navigation .list-submenu .list-submenu {
  padding-left: 12px;
}

@media (max-width: 576px) {
  #sidebar-toggle:checked ~ .sidebar-navigation {
    visibility: visible;
    pointer-events: all;

    opacity: 1;

    transition: visibility 0s linear 0s, opacity 150ms;
  }

  #sidebar-toggle:checked ~ .sidebar-navigation .sidebar-navigation__wrapper {
    top: 30px;

    transition: top 250ms;
  }

  .sidebar-toggle-element {
    display: block;

    cursor: pointer;

    font-weight: var(--font-weight-bold);
    color: var(--color-primary-foreground);
  }

  .sidebar-navigation {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100vw;
    height: 100vh;

    visibility: hidden;
    pointer-events: none;
    opacity: 0;

    z-index: 1000;

    background-color: var(--color-backdrop);

    transition: visibility 0s linear 250ms, opacity 150ms;
  }

  .sidebar-navigation__wrapper {
    position: relative;

    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;

    height: calc(100vh - 30px);

    background-color: var(--color-primary-background);

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    transition: top 250ms;
  }

  .sidebar-navigation__inner {
    height: 100%;

    padding: 20px 0 35px;

    overflow-y: auto;
  }

  .sidebar-navigation .list-menu__item {
    padding: 12px 0;
  }

  .sidebar-navigation .list-menu > .list-menu__item {
    border-bottom: 1px solid var(--color-border);

    padding: 12px var(--horizontal-padding);
  }

  .sidebar-navigation
    .list-menu
    .list-submenu
    .list-submenu
    > .list-menu__item {
    padding: 12px var(--horizontal-padding);
  }

  .sidebar-navigation .list-menu .list-submenu > .list-menu__item:first-child {
    padding-top: 24px;
  }

  .sidebar-navigation .list-submenu .list-submenu {
    padding-left: 0;
  }

  .sidebar-navigation-menu__title {
    padding: 0 var(--horizontal-padding);
  }

  .sidebar-navigation-menu__cleanstate {
    margin-left: var(--horizontal-padding);
  }
}
